:root {
    --header-bg: #080B12;
    --main-bg: #141922;
    --footer-bg: #282828;

    --txt-white: white;
    --txt-gray: #7A7D81;

    --highlight: #76AC2A;

    --base-spacing-grid: 1rem;
    --footer-height: 100px;
    --sidebar-width: 300px;
    --top-bar-height: 100px;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif, Helvetica, 'Neue';
    font-weight: 600;
    color: var(--txt-gray);
}

.img {
    width: 100%;
}

li {
    list-style: none;
}

h1 {
    color:var(--txt-white);
    margin: 2rem 0 1rem 0;
}

/* LAYOUT */

/* wrapper */

.wrapper {
    background-color: var(--main-bg);
}

/* top-content */

#top-content {
    display: flex;
    height: calc(100vh - var(--footer-height));

    background-color: var(--header-bg);
}

/*sidebar*/

#sidebar {
    width: var(--sidebar-width);
    height: 100vh - 200px;
    background-color: black;
}

/* header */

#top-bar {
    background-color: black;

    height: var(--top-bar-height);
    width: 100%;
    padding: 1rem;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

/* middle section */

#content {
    width: calc(100% - var(--sidebar-width));

}


/* footer */

#footer {
    background-color: var(--footer-bg);
    color: var(--txt-white);

    height: var(--footer-height);
}


/* SECTIONS */

/*Middle section*/

#content {
    overflow-y:auto;
    overflow-x: hidden;
}

    /* Header */

#top-bar {
    display:flex;
    justify-content: right;
    align-items: flex;

    opacity:0.6;
}

#top-bar > div {
    padding: 1rem;
}

.btn:hover {
    padding: 1.5rem;
    font-size: larger;
}

#top-bar .btn {
    display: inline-block;
    padding: 1rem 1.4rem;;
    border: 1px solid white;
    border-radius: 35px;
    color: white;
}

    /* Sidebar */

#sidebar {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: space-between;
}
        /* Home */

.logo .lg-logo {
    width: 100%;
    padding: 1rem;
}

.logo .sm-logo {
    display: none;
}

.home-case,
.playlist-case,
.bottom-case {
    width: 100%;
    padding: 1.5rem;
}

.home {
    display: flex;
    padding-top: 1rem;
}

.colored-border {
    display: flex;
}

.b-left-colored {
    border-left: 4px solid var(--highlight);
    margin-left: -1.5rem;
    padding-right: 1.5rem;
}

.home img {
    display: inline-block;
    width: 1.5rem;
    margin-right: 0.5rem;
    filter: invert(50%);
}

.home .logo-text {
    font-size: 1rem;
    margin: auto 0;
}

.home:hover {
    color: var(--txt-white);
}

.home:hover img {
    filter: invert(0%);
}

    /* playlist */

.playlist-case h3 {
    color: var(--txt-white);
}


.playlist-case ul {
    padding-top: 0.5rem;
}

.playlist-case li {
    padding-top: 1rem;
}

.playlist-case li:hover {
    color: var(--txt-white);
}


.pl-create {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pl-create:hover {
    color: var(--txt-white)
}

.pl-create .fa-square-plus {
    font-size: 3rem;
}

    /* bottom */

.playlist-case {
    overflow-y: auto;
    min-height: 80px;
}

.install {
    display: flex;
    gap: 1rem;
}

.install:hover .pointer {
    color: var(--txt-white);
}

.install:hover .fa-circle-arrow-down{
    color: var(--txt-white)
}

.account {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.account .fa-circle-user {
    font-size: 2rem;

}

.bottom-case hr {
    margin: 1rem 0;
}


        /*navbar*/

#menu {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.menu-list li {
    align-self: center;
}

.menu-list h4 {
    padding: 0.3rem 1rem;
}

.underlined {
    position: relative;
}

.b-underlined:before {
    content: "";

    position: absolute;
    left: 30px;
    bottom: 0;
    height: 1px;
    width: 50%;
    border-bottom: 2px solid var(--highlight);
}


.menu-list li:hover {
    color: var(--txt-white);
}

/* music */

.container {
    display: flex;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    padding: 1.5rem;
}

.container .row {
    width: 100%;

    display: flex;
    flex-direction: wrap;

    margin-left: -1rem;
    margin-right: -1rem;
}

.container .row .col {
    width: calc(100%/6);
    margin: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.col img {
    width:100%;
    height: 100%;
}

.outer {
    position:relative;
    
}



.inner {
    width:100%;
    font-size: 3rem;

    position: absolute;
    top:0;
    left:0;

    display: none;
}

.col:hover .inner { 
    display: flex;
}

.inner .fa-circle-play {
    color:white;  
}

.col:hover .fa-circle-arrow-down {
    justify-content: center; 

}

.container h4 {
    color: var(--txt-white);
    padding-top: 1rem;
    text-align: center;
    flex-wrap: wrap;
}

.container p {
    padding-top: 0.5rem;
}

.row.last img {
    border-radius: 50%;
}

/* footer */

#footer .playbar {
    width: 100%;
    height: 100%;

    padding: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    height: 100%;

    display: flex;
}

.box.left,
.box.center,
.box.right {
    display: flex;
    align-items: center;
}

.box.left img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.box.left .song-name {
    margin-right: 40px;
}

.song-name h6 {
    color: var(--txt-gray)
}

.song-name h6:hover {
    text-decoration: underline;
}

.fa-heart {
    margin-right: 10px;
}

.like-folder .fa-regular:hover {
    color: var(--txt-gray)
}

.box.center {
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.box.center .player,
.time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.player .fa-play {
    transition: 0.1s;

}

.player .fa-play:hover {
    transform: scale(1.3);
}


.progress-bar .out {
    display: block;
    width: 300px;
    height: 3px;
    background-color: var(--txt-gray);
    border-radius: 10px;
}

.progress-bar .in {
    display: block;
    width: 50px;
    height: 3px;
    background-color: white;
    border-radius: 2px;

    position: relative;
}

.progress-bar .ball {
    display: none;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    top: 50%;
    left: 100%;
    /*allinea perfettamente al centro*/
    transform: translate(-50%, -50%);
}

.progress-bar:hover .in {
    background-color: var(--highlight);
}

.progress-bar:hover .ball {
    display: block;
    background-color: var(--highlight);
}

.box.right .fa-solid {
    margin-right: 20px;
}

.progress-bar-2 .outside {
    display: block;
    width: 100px;
    height: 3px;
    background-color: var(--txt-gray);
    border-radius: 10px;
}

.progress-bar-2 .inside {
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 2px;

    position: relative;
}

.progress-bar-2 .ball-right {
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;

    position: absolute;
    top: 50%;
    left: 100%;
    /*allinea perfettamente al centro*/
    transform: translate(-50%, -50%);
}

.progress-bar-2:hover .inside {
    background-color: var(--highlight);
}

.progress-bar-2:hover .ball-right {
    display: block;
    background-color: var(--highlight);
}


/*MEDIA QUERIES*/

@media screen and (mac-width: 1200px) {

}

@media screen and (mac-width: 1200px) {
    
}

@media screen and (mac-width: 1200px) {
    
}